.score {
	position: absolute;
	top: 45px;
	color: $peach;
	font-size: 21px;
	display: flex;
	flex-direction: column;

	&--value {
		font-size: 118px;
	}
}

.current-score {
	left: 35px;
}

.high-score {
	text-align: right;
	right: 35px;
}